* {
  box-sizing: border-box;
}

$ali : 'moew';

.box {
  background-color: if($ali =='moew', green, red);
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.box {

  &:hover {
    .title {
      font-weight: bold;
    }
  }

}

